name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check Docker socket permissions
      run: |
         sudo docker ps
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag testghdedzzdfg:123
  run_tests:
    needs: build
    runs-on: [linux, self-hosted]
    steps:
    - name: Run Docker file
      run: |
         sudo chmod 777 /var/run/docker.sock
         sudo systemctl enable docker.service
         sudo systemctl enable containerd.service
         sudo apt-get -y install iptables-persistent -y
         sudo iptables -L
         sudo dockerd
         #docker container ls -a
         #docker run --help
        # sudo docker run --privileged testghdedzzdfg:123 python3 main.py
